@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@100;400&display=swap");
</style > #text1 {
  font-family: Poppins, Arial, Sans-serif;
  font-weight: 400;
}

#text2 {
  font-family: Montserrat, arial, sans-serif;
}

#text3 {
  font-family: Oswald, arial, sans-serif;
}
