@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500&family=Roboto+Condensed&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Roboto Condensed", sans-serif;
}
.header {
  padding: 30px;
  background-color: rgb(48, 48, 48);
  min-height: 40px;
  width: 100%;
  display: flex;
  gap: 10px 15px;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.logoHeader {
  width: 200px;
}
.navBtn {
  font-size: 18px;
  background-color: transparent;
  border: 2px solid transparent;
  color: white;
  padding: 8px;
  cursor: pointer;
  transition: 0.4s;
}
.navBtn:hover {
  border-bottom: 2px solid rgb(146, 7, 7);
}
.contentTitle {
  text-align: center;
  padding-top: 20px;
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
}
.titleDescription {
  text-align: center;
  padding: 6px;
  color: rgb(55, 55, 55);
}
.gridContent {
  display: grid;
  flex: 1 0 auto;
  grid-template-columns: 3fr 1fr;
  grid-template-areas: "mainContent sideBar";
  padding: 20px;
}

.mainContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  grid-area: mainContent;
}
.cardsImg {
  width: 100%;
  height: 180px;
  border-radius: 10px;
}
.cardTitle {
  font-family: Arial, Helvetica, sans-serif;
}
.cards {
  width: 280px;
  height: 380px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.4s;
}
.cards:hover {
  border: 1px solid rgb(41, 41, 41);
  border-radius: 12px;
}
.sideBar {
  background-color: rgb(72, 72, 72);
  color: white;
  padding: 16px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  grid-area: sideBar;
  min-width: 300px;
}
.sideBarTitle {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.sideBarImg {
  width: 100%;
  border-radius: 10px;
}
.sideBarCard {
  width: 80%;
  border-radius: 10px;
  border: 1px solid transparent;
  transition: 0.4s;
  cursor: pointer;
}

.sideBarCard:hover {
  border: 1px solid rgb(205, 205, 205);
}
.sideBar p {
  text-align: center;
  padding: 10px;
}

.footer {
  padding: 30px;
  background-color: rgb(48, 48, 48);
  min-height: 40px;
  width: 100%;
  display: flex;

  gap: 15px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer a {
  color: white;
  text-decoration: none;
}
.logoFooter {
  width: 180px;
}

@media screen and (max-width: 702px) {
  .gridContent {
    grid-template-columns: 1fr;
    grid-template-areas: "mainContent" "sideBar";
    padding: 20px;
  }
  .sideBar {
    min-width: auto;
  }
}
@media screen and (max-width: 432px) {
  .footer {
    justify-content: center;
  }
}
