@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;600&family=Montserrat:wght@300;400&family=Open+Sans&family=Roboto:wght@300;400&display=swap'); 
header {
  background-color: rgb(252, 162, 88);
  width: 100%;
}
body {
  background-color: rgb(152, 204, 187);
  font-family: Roboto, Helvetica, sans-serif;
  margin: 0%;
}
a {
  color: white;
}

h1 {
  text-align: center;
  font-size: 38px;
  font-family: josefin-sans, arial
  margin-top: 0px
}

h1 + p {
  text-align: center;
}

h3 + p {
  text-align: justify;
}
.footer {
  background-color: antiquewhite;
}
